
@import url(https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cormorant+Garamond:wght@300&family=Lora&display=swap);

@import url("components/container.css");
@import url("components/banner.css");
@import url("components/button.css"); 
@import url("components/card.css"); 

*{margin: 0%;}

body{
    font-family: 'Cormorant Garamond';
    background-color:rgb(470, 470, 470); /*trouver des couleurs sur site "color hunt"*/
}

.txt{padding: 210px;
    padding-top: 50px;
    padding-bottom: 0px;
}

@media (max-width: 1100px){
    .txt { padding: 100px;
        padding-bottom: 0%}
    }

@media (max-width: 850px){
    .txt { padding: 40px;
        padding-bottom: 0%;}
}