
.banner {background-image: url(../../Images/background.png);
    color: white;
    padding: 150px 0px;    
    background-size: cover;
    background-position: center;
    font-family: 'Cormorant Garamond', serif;
}

.banner h1 {
    font-size: 60px ;
    font-family:'Bebas Neue';
    letter-spacing: 25px;
}

.banner h2 {
    opacity: O.8;
    margin-bottom: 40px;
    font-family: 'Cormorant Garamond', serif;
    font-size: 40px;
    font-weight: 500;
}